---
import Header from '../components/Header';
import Layout from '../layouts/Layout.astro';
import '@fontsource/koulen';
import '../../styles/base.css';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Contact from '../components/Contact';

export const prerender = false;
---

<Layout title='Welcome to Astro.'>
	<main class='scroll-smooth'>
		<div class='bg-white scroll-smooth'>
			<Header client:load />
			<Hero />
			<Services />
			<Contact client:load />
		</div>
	</main>
</Layout>

<style></style>
