---
import Header from '../components/Header';
import Layout from '../layouts/Layout.astro';
import '@fontsource/koulen';
import '../../styles/base.css';
import Hero from '../components/Hero.astro';
---

<Layout title='Welcome to Astro.'>
	<main>
		<div class='bg-white'>
			<Header client:load />

			<Hero />
		</div>
	</main>
</Layout>

<style></style>
