<div class='relative font-koulen shadow-xl'>
	<div class='mx-auto max-w-[90vw] bg-white'>
		<div
			class='relative z-10 pt-14 lg:w-full lg:max-w-2xl bg-gray-opac border-l-8 border-l-white'
		>
			<svg
				class='absolute inset-y-0 right-[-10rem] hidden h-full w-80 translate-x-1/2 transform fill-gray-opac lg:block'
				viewBox='0 0 100 100'
				preserveAspectRatio='none'
				aria-hidden='true'
			>
				<polygon points='0,0 90,0 50,100 0,100'></polygon>
			</svg>

			<div class='relative px-6 py-32 sm:py-40 lg:px-8 lg:py-56 lg:pr-0'>
				<div class='mx-auto max-w-2xl lg:mx-0 lg:max-w-xl'>
					<div class='hidden sm:mb-10 sm:flex'>
						<div
							class='relative rounded-full px-3 py-1 text-base leading-6 text-gray-500 ring-2 ring-blue-300 hover:ring-blue-600 bg-gray-50'
						>
							Check out our email marketing packages <a
								href='/email-marketing'
								class='whitespace-nowrap font-semibold text-blue-600'
								><span class='absolute inset-0' aria-hidden='true'></span>Let's
								Go! <span aria-hidden='true'>&rarr;</span></a
							>
						</div>
					</div>
					<h1
						class='text-4xl w-fit block font-bold tracking-tight text-gray-900 sm:text-7xl sm:text-right'
					>
						Unleash Your Brand's Potential
					</h1>
					<p class='mt-6 text-2xl leading-8 text-gray-600'>
						Full Stack SEO Brilliance, Modern Creative Content Solutions
					</p>
					<div class='mt-10 flex items-center gap-x-6'>
						<a href='#contact' class='btn-standard lg:w-[50%] text-center'
							>power up your business</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class='bg-gray-50 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2'>
					<img
						class='aspect-[3/2] object-cover lg:aspect-auto lg:h-full lg:w-full'
						src='/public/assets/images/blue-bg.png'
						alt=''
					/>
				</div> -->
	<div class='bg-gray-50 lg:absolute lg:inset-0 lg:left-0 lg:w-full z-0'>
		<img
			class='aspect-[3/2] object-cover lg:aspect-auto lg:h-full lg:w-full'
			src='/public/assets/images/blue-bg.webp'
			alt=''
		/>
	</div>
</div>
